<a href="https://colab.research.google.com/github/ggsgranados/TelecomX-LATAM-Parte-2/blob/main/Telecom_X_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imports necesarios

In [12]:
import pandas as pd

##üìå Extracci√≥n del archivo tratado

In [13]:
# Importando el JSON y convirtiendolo a un DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/ggsgranados/TelecomX-LATAM-Parte-2/refs/heads/main/df_normalizado.csv')

In [14]:
df.head(5)

,Churn,SeniorCitizen,tenure,Charges.Monthly,Charges.Total,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Cuentas_Diarias,Churn_Label
0,0.0,0,9,65.6,593.30,1,0,0,1,0,...,1,0,0,1,0,0,0,1,2.155059,Permaneci√≥
1,0.0,0,9,59.9,542.40,0,1,1,0,1,...,0,0,1,0,0,0,0,1,1.967806,Permaneci√≥
2,1.0,0,4,73.9,280.85,0,1,1,0,1,...,0,0,0,1,0,0,1,0,2.427727,Se dio de baja
3,1.0,1,13,98.0,1237.85,0,1,0,1,1,...,0,0,0,1,0,0,1,0,3.219448,Se dio de baja
4,1.0,1,3,83.9,267.40,1,0,0,1,1,...,0,0,0,1,0,0,0,1,2.756242,Se dio de baja

##‚ùå Eliminaci√≥n de columnas irrelevantes

In [15]:
def remove_negative_dummies(df):
    columns_to_drop = []
    for col in df.columns:
        # Buscar columnas que terminen en '_No' o '_no'
        if col.endswith('_No') or col.endswith('_no'):
            # Identificar la columna correspondiente con l√≥gica positiva
            positive_col_name_yes = col.replace('_No', '_Yes').replace('_no', '_yes')
            positive_col_name_blank = col.replace('_No', '_ ').replace('_no', '_ ')
            positive_col_name_single = col.replace('_No', '').replace('_no', '')

            # Verificar si la columna de l√≥gica positiva existe
            if positive_col_name_yes in df.columns or positive_col_name_blank in df.columns or positive_col_name_single in df.columns:
                columns_to_drop.append(col)

    if columns_to_drop:
        print(f"\nEliminando las siguientes columnas con l√≥gica negativa: {columns_to_drop}")
        df = df.drop(columns=columns_to_drop)
    else:
        print("\nNo se encontraron columnas con l√≥gica negativa ('_No' o '_no') para eliminar.")

    return df

# Aplicar la funci√≥n al DataFrame
df_normalizado = remove_negative_dummies(df)

print("\nColumnas despu√©s de eliminar las de l√≥gica negativa:")
print(df_normalizado.columns.tolist())
print("\nEstado final del DataFrame:")
print(df_normalizado.info())

Eliminando las siguientes columnas con l√≥gica negativa: ['Partner_No', 'Dependents_No', 'PhoneService_No', 'MultipleLines_No', 'OnlineSecurity_No', 'OnlineBackup_No', 'DeviceProtection_No', 'TechSupport_No', 'StreamingTV_No', 'StreamingMovies_No', 'PaperlessBilling_No']

Columnas despu√©s de eliminar las de l√≥gica negativa:
['Churn', 'SeniorCitizen', 'tenure', 'Charges.Monthly', 'Charges.Total', 'gender_Female', 'gender_Male', 'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes', 'MultipleLines_No phone service', 'MultipleLines_Yes', 'InternetService_DSL', 'InternetService_Fiber optic', 'InternetService_No', 'OnlineSecurity_No internet service', 'OnlineSecurity_Yes', 'OnlineBackup_No internet service', 'OnlineBackup_Yes', 'DeviceProtection_No internet service', 'DeviceProtection_Yes', 'TechSupport_No internet service', 'TechSupport_Yes', 'StreamingTV_No internet service', 'StreamingTV_Yes', 'StreamingMovies_No internet service', 'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year', 'PaperlessBilling_Yes', 'PaymentMethod_Bank transfer (automatic)', 'PaymentMethod_Credit card (automatic)', 'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check', 'Cuentas_Diarias', 'Churn_Label']

Estado final del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 37 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Churn                                    7043 non-null   float64
 1   SeniorCitizen                            7267 non-null   int64
 2   tenure                                   7267 non-null   int64
 3   Charges.Monthly                          7267 non-null   float64
 4   Charges.Total                            7267 non-null   float64
 5   gender_Female                            7267 non-null   int64
 6   gender_Male                              7267 non-null   int64
 7   Partner_Yes                              7267 non-null   int64
 8   Dependents_Yes                           7267 non-null   int64
 9   PhoneService_Yes                         7267 non-null   int64
 10  MultipleLines_No phone service           7267 non-null   int64
 11  MultipleLines_Yes                        7267 non-null   int64
 12  InternetService_DSL                      7267 non-null   int64
 13  InternetService_Fiber optic              7267 non-null   int64
 14  InternetService_No                       7267 non-null   int64
 15  OnlineSecurity_No internet service       7267 non-null   int64
 16  OnlineSecurity_Yes                       7267 non-null   int64
 17  OnlineBackup_No internet service         7267 non-null   int64
 18  OnlineBackup_Yes                         7267 non-null   int64
 19  DeviceProtection_No internet service     7267 non-null   int64
 20  DeviceProtection_Yes                     7267 non-null   int64
 21  TechSupport_No internet service          7267 non-null   int64
 22  TechSupport_Yes                          7267 non-null   int64
 23  StreamingTV_No internet service          7267 non-null   int64
 24  StreamingTV_Yes                          7267 non-null   int64
 25  StreamingMovies_No internet service      7267 non-null   int64
 26  StreamingMovies_Yes                      7267 non-null   int64
 27  Contract_Month-to-month                  7267 non-null   int64
 28  Contract_One year                        7267 non-null   int64
 29  Contract_Two year                        7267 non-null   int64
 30  PaperlessBilling_Yes                     7267 non-null   int64
 31  PaymentMethod_Bank transfer (automatic)  7267 non-null   int64
 32  PaymentMethod_Credit card (automatic)    7267 non-null   int64
 33  PaymentMethod_Electronic check           7267 non-null   int64
 34  PaymentMethod_Mailed check               7267 non-null   int64
 35  Cuentas_Diarias                          7267 non-null   float64
 36  Churn_Label                              7043 non-null   object
dtypes: float64(4), int64(32), object(1)
memory usage: 2.1+ MB
None

In [16]:
# Verificar si la columna 'gender_Female' existe antes de intentar eliminarla
if 'gender_Female' in df_normalizado.columns:
    # Eliminar la columna 'gender_Female'
    df_normalizado = df_normalizado.drop(columns=['gender_Female'])
    print("\nLa columna 'gender_Female' ha sido eliminada.")
else:
    print("\nLa columna 'gender_Female' no se encontr√≥ en el DataFrame.")

# Imprimir las columnas actualizadas
print("\nColumnas despu√©s de eliminar 'gender_Female':")
print(df_normalizado.columns.tolist())

# Imprimir el estado final del DataFrame
print("\nEstado final del DataFrame:")
print(df_normalizado.info())

La columna 'gender_Female' ha sido eliminada.

Columnas despu√©s de eliminar 'gender_Female':
['Churn', 'SeniorCitizen', 'tenure', 'Charges.Monthly', 'Charges.Total', 'gender_Male', 'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes', 'MultipleLines_No phone service', 'MultipleLines_Yes', 'InternetService_DSL', 'InternetService_Fiber optic', 'InternetService_No', 'OnlineSecurity_No internet service', 'OnlineSecurity_Yes', 'OnlineBackup_No internet service', 'OnlineBackup_Yes', 'DeviceProtection_No internet service', 'DeviceProtection_Yes', 'TechSupport_No internet service', 'TechSupport_Yes', 'StreamingTV_No internet service', 'StreamingTV_Yes', 'StreamingMovies_No internet service', 'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year', 'PaperlessBilling_Yes', 'PaymentMethod_Bank transfer (automatic)', 'PaymentMethod_Credit card (automatic)', 'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check', 'Cuentas_Diarias', 'Churn_Label']

Estado final del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Churn                                    7043 non-null   float64
 1   SeniorCitizen                            7267 non-null   int64
 2   tenure                                   7267 non-null   int64
 3   Charges.Monthly                          7267 non-null   float64
 4   Charges.Total                            7267 non-null   float64
 5   gender_Male                              7267 non-null   int64
 6   Partner_Yes                              7267 non-null   int64
 7   Dependents_Yes                           7267 non-null   int64
 8   PhoneService_Yes                         7267 non-null   int64
 9   MultipleLines_No phone service           7267 non-null   int64
 10  MultipleLines_Yes                        7267 non-null   int64
 11  InternetService_DSL                      7267 non-null   int64
 12  InternetService_Fiber optic              7267 non-null   int64
 13  InternetService_No                       7267 non-null   int64
 14  OnlineSecurity_No internet service       7267 non-null   int64
 15  OnlineSecurity_Yes                       7267 non-null   int64
 16  OnlineBackup_No internet service         7267 non-null   int64
 17  OnlineBackup_Yes                         7267 non-null   int64
 18  DeviceProtection_No internet service     7267 non-null   int64
 19  DeviceProtection_Yes                     7267 non-null   int64
 20  TechSupport_No internet service          7267 non-null   int64
 21  TechSupport_Yes                          7267 non-null   int64
 22  StreamingTV_No internet service          7267 non-null   int64
 23  StreamingTV_Yes                          7267 non-null   int64
 24  StreamingMovies_No internet service      7267 non-null   int64
 25  StreamingMovies_Yes                      7267 non-null   int64
 26  Contract_Month-to-month                  7267 non-null   int64
 27  Contract_One year                        7267 non-null   int64
 28  Contract_Two year                        7267 non-null   int64
 29  PaperlessBilling_Yes                     7267 non-null   int64
 30  PaymentMethod_Bank transfer (automatic)  7267 non-null   int64
 31  PaymentMethod_Credit card (automatic)    7267 non-null   int64
 32  PaymentMethod_Electronic check           7267 non-null   int64
 33  PaymentMethod_Mailed check               7267 non-null   int64
 34  Cuentas_Diarias                          7267 non-null   float64
 35  Churn_Label                              7043 non-null   object
dtypes: float64(4), int64(31), object(1)
memory usage: 2.0+ MB
None

## ‚úÖ Verificaci√≥n de la proporci√≥n de cancelaci√≥n (Churn)

In [19]:
churn_proportion = df_normalizado['Churn'].value_counts(normalize=True)
print("\nProporci√≥n de clientes que cancelaron (Churn = 1) vs. activos (Churn = 0) :")
churn_proportion

Proporci√≥n de clientes que cancelaron (Churn = 1) vs. activos (Churn = 0) :

Churn
0.0    0.73463
1.0    0.26537
Name: proportion, dtype: float64